/* allgemeine formatierungen */
body
{
    background-color: #DED3B9;
    color: #000000;
    font-family: Verdana, Arial, sans-serif;
    font-size: 90%;
    padding: 5px;
}
h1
{
    text-decoration: none;
}
h2,h3
{
    text-decoration: underline;
}
blockquote
{
    font-size: 12px;
    font-style: italic;
}
a
{
    color: #804000;
    font-weight: bold;
}
a:hover
{
    color: #0082BE;
    font-weight: bold;
}
a.simple {
	font-weight: normal;
}
table
{
	font-size: 90%;
}
th
{
    background-color: #DED3B9;
	text-align: left;
}
td
{
	text-align: left;
}
a.setValue
{
    font-weight: normal;
    text-decoration: underline;
}
.onclick
{
    cursor:pointer;
}
.bold {
	font-weight: bold;
}
.green {
	color: #21BB21;
}
.red {
	color: #FF2121;
}
.brown_bg {
	background-color: #DED3B9;
}
.align_right {
	text-align: right;
}
.align_left {
	text-align: left;
}
.align_center {
	text-align: center;
}
.hinweis
{
    color: #21BB21;
    font-weight: bold;
}
.warnung
{
    color: #FF2121;
    font-weight: bold;
}
.tiny {
	font-size: 75%;
}
.italic {
	font-style: italic;
}
a.image_link {
	text-decoration: none;
}
a.delete
{
	background-image: url(images/delete.png);
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    text-decoration: none;
    width: 20px;
}
a.delete span
{
	visibility:hidden;
}
tr.background_light
{
	background-color: #F1EBDD;
}
tr.background_dark
{
	background-color: #E7E2D5;
}

div#farmmanager h3 {
	margin-top: 20px;
}

div#farmmanager textarea#report {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
}

#farmmanager_farms {
	font-size: 80%;
	margin-top: 10px;
}

#farmmanager_farms .c_sum {
	padding-left: 1.5em;
}

#farmmanager_farms .building_warn {
	background-color: #f99;
	padding: 5px;
}

#farmmanager #bonus_select option {
	background-repeat: no-repeat;
	padding-left:20px;
}

#farmmanager #bonus_select {
	width: 140px;
}

#farmmanager #bonus_select_all { background-image: url(images/storage.png); }
#farmmanager #bonus_select_wood { background-image: url(images/holz.png); }
#farmmanager #bonus_select_loam { background-image: url(images/lehm.png); }
#farmmanager #bonus_select_iron { background-image: url(images/eisen.png); }
#farmmanager #bonus_select_storage { background-image: url(images/storage.png); }

#farmmanager #parse_report_button {
	font-weight: bold;
	height:35px;
	width:500px;
}

/* der gesamte Seiteninhalt wird hierin dargestellt */
#dsstyle_body
{
    background-color: #F1EBDD;
    border-color: #804000;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

/* globale ankündigungen (am oberen rand der website) */
#announcing
{
    background-color: #F1EBDD;
    border-color: #804000;
    border-style: solid;
    border-width: 2px;
	font-size: 110%;
    margin-left: 100px;
    margin-right: 100px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

/* footer */
div#footer table
{
	vertical-align: bottom;
	width: 100%;
}

div#footer > hr
{
	margin-top: 20px;
}

/* copyright */
#copyright
{
    font-size: 10px;
    text-align: right;
}

/* Toolseite -> Link zum Attplaner */
a#attplaner
{
    background-image: url(images/units/axe.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}

/* Toolseite -> Link zum Farmmanager */
a#farmmanager
{
    background-image: url(images/units/light.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}

/* Toolseite -> Link zum Berichteformatierer von terence */
a#ext_berichteformatierer
{
    background-image: url(images/new_report.png);
    background-position: 0px 4px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

/* Toolseite -> Liste */
#tool_liste li
{
    padding-top: 3px;
}

/* Angriffsplaner */
#attplaner_aktion_typ_att
{
    background-image: url(images/units/axe.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}
#attplaner_aktion_typ_deff
{
    background-image: url(images/units/sword.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}
#attplaner_aktion_typ_fake
{
    background-image: url(images/blue.png);
    background-position: 3px 3px;
    background-repeat: no-repeat;
    padding-left: 20px;
}
#attplaner_aktion_typ_snob
{
    background-image: url(images/units/snob.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}
div#attplan_creator_notice p
{
	border: 1px solid black;
	font-size: 125%;
	padding: 3pt;
}
div#attplan_creator_notice a
{
	font-size: 80%;
}
div#no_admin_notice
{
	font-size: 150%;
}

/* errors & debuginfo */
div#errors > ul { color: #DD2121 }
div#debug_info > ul { 	color: #21AA21; }

/* eigene Formatierungen */
table.admin td { padding-left: 5px; padding-right: 5px; }
table.admin th { padding-left: 10px; padding-right: 10px; }

table.allgemein  { border-style: solid; border-width: 1px; border-color: #DED3B9; width: 450px; }
table.allgemein td { vertical-align: top; }
table.allgemein th { background-color: #DED3B9; padding-right: 10px; }

table.attplan  { border-style: solid; border-width: 1px; border-color: #DED3B9; }
table.attplan td { text-align: center; vertical-align: top; }
table.attplan th { text-align: center; background-color: #DED3B9; padding-right: 5px; padding-left: 5px; }

table.dsstyle  { border-style: solid; border-width: 1px; border-color: #DED3B9; }
table.dsstyle td { vertical-align: top; }
table.dsstyle th { background-color: #DED3B9; padding-right: 10px; }

table.valign_top td { vertical-align: top; }
