/* allgemeine formatierungen */
body
{
    background-color: #DED3B9;
    color: #000000;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    padding: 5px;
}
h1
{
    text-decoration: none;
}
h2,h3
{
    margin-top: 50px;
    text-decoration: underline;
}
blockquote
{
    font-size: 12px;
    font-style: italic;
}
a
{
    color: #804000;
    font-weight: bold;
}
a:hover
{
    color: #0082BE;
    font-weight: bold;
}
a.simple {
	font-weight: normal;
}
th
{
    background-color: #DED3B9;
}
a.setValue
{
    font-weight: normal;
}
.onclick
{
    cursor:pointer;
}
.bold {
	font-weight: bold;
}
.green {
	color: #21BB21;
}
.red {
	color: #FF2121;
}
.brown_bg {
	background-color: #DED3B9;
}
.align_right {
	text-align: right;
}
.align_left {
	text-align: left;
}
.align_center {
	text-align: center;
}
.hinweis
{
    color: #21BB21;
    font-weight: bold;
}
.warnung
{
    color: #FF2121;
    font-weight: bold;
}
.tiny {
	font-size: 70%;
}
.italic {
	font-style: italic;
}
a.image_link {
	text-decoration: none;
}
a.delete
{
	background-image: url(images/delete.png);
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    text-decoration: none;
    width: 20px;
}
a.delete span
{
	visibility:hidden;
}

div#farmmanager h3 {
	margin-top: 20px;
}

#farmmanager_farms {
	margin-top: 10px;
}

/* der gesamte Seiteninhalt wird hierin dargestellt */
#dsstyle_body
{
    background-color: #F1EBDD;
    border-color: #804000;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

/* globale ankündigungen (am oberen rand der website) */
#announcing
{
    background-color: #F1EBDD;
    border-color: #804000;
    border-style: solid;
    border-width: 2px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

/* copyright */
#copyright
{
    font-size: 10px;
    text-align: right;
}

/* Toolseite -> Link zum Attplaner */
a#attplaner
{
    background-image: url(images/unit_axe.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}

/* Toolseite -> Link zum Deffformular */
a#deffformular
{
    background-image: url(images/unit_sword.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}

/* Toolseite -> Link zum Deffformular Welt 10+ */
a#deffformular_10plus
{
    background-image: url(images/unit_sword.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}

/* Toolseite -> Link zum Farmmanager */
a#farmmanager
{
    background-image: url(images/unit_light.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}

/* Toolseite -> Link zum Berichteformatierer von terence */
a#ext_berichteformatierer
{
    background-image: url(images/new_report.png);
    background-position: 0px 4px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

/* Toolseite -> Liste */
#tool_liste li
{
    padding-top: 3px;
}

/* Angriffsplaner */
#attplaner_aktion_typ_att
{
    background-image: url(images/unit_axe.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}
#attplaner_aktion_typ_deff
{
    background-image: url(images/unit_sword.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}
#attplaner_aktion_typ_fake
{
    background-image: url(images/blue.png);
    background-position: 3px 3px;
    background-repeat: no-repeat;
    padding-left: 20px;
}
#attplaner_aktion_typ_snob
{
    background-image: url(images/unit_snob.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}

/* eigene Formatierungen */
table.admin td { padding-left: 5px; padding-right: 5px; }
table.admin th { padding-left: 10px; padding-right: 10px; }

table.allgemein  { border-style: solid; border-width: 1px; border-color: #DED3B9; width: 450px; }
table.allgemein td { vertical-align: top; }
table.allgemein th { background-color: #DED3B9; padding-right: 10px; }

table.attplan  { border-style: solid; border-width: 1px; border-color: #DED3B9; }
table.attplan td { text-align: center; vertical-align: top; }
table.attplan th { text-align: center; background-color: #DED3B9; padding-right: 5px; padding-left: 5px; }

table.dsstyle  { border-style: solid; border-width: 1px; border-color: #DED3B9; }
table.dsstyle td { vertical-align: top; }
table.dsstyle th { background-color: #DED3B9; padding-right: 10px; }

table.valign_top td { vertical-align: top; }

#deffform td { padding: 2px; }
#deffform th{ padding-left: 5px; padding-right: 5px; }
